[submodule "semanticcms-core"]
	path = semanticcms-core
	url = git@github.com:aoindustries/semanticcms-core.git
[submodule "semanticcms-dia"]
	path = semanticcms-dia
	url = git@github.com:aoindustries/semanticcms-dia.git
[submodule "semanticcms-file"]
	path = semanticcms-file
	url = git@github.com:aoindustries/semanticcms-file.git
[submodule "semanticcms-openfile"]
	path = semanticcms-openfile
	url = git@github.com:aoindustries/semanticcms-openfile.git
[submodule "semanticcms-section"]
	path = semanticcms-section
	url = git@github.com:aoindustries/semanticcms-section.git
[submodule "semanticcms-sitemap-servlet"]
	path = semanticcms-sitemap-servlet
	url = git@github.com:aoindustries/semanticcms-sitemap-servlet.git
[submodule "semanticcms-theme-documentation"]
	path = semanticcms-theme-documentation
	url = git@github.com:aoindustries/semanticcms-theme-documentation.git
[submodule "semanticcms-theme-documentation-style"]
	path = semanticcms-theme-documentation-style
	url = git@github.com:aoindustries/semanticcms-theme-documentation-style.git
[submodule "semanticcms-view-all"]
	path = semanticcms-view-all
	url = git@github.com:aoindustries/semanticcms-view-all.git
[submodule "semanticcms-view-tree"]
	path = semanticcms-view-tree
	url = git@github.com:aoindustries/semanticcms-view-tree.git
[submodule "semanticcms-view-what-links-here"]
	path = semanticcms-view-what-links-here
	url = git@github.com:aoindustries/semanticcms-view-what-links-here.git
[submodule "semanticcms-autogit"]
	path = semanticcms-autogit
	url = git@github.com:aoindustries/semanticcms-autogit.git
[submodule "semanticcms-pagegraph"]
	path = semanticcms-pagegraph
	url = git@github.com:aoindustries/semanticcms-pagegraph.git
[submodule "semanticcms-all"]
	path = semanticcms-all
	url = git@github.com:aoindustries/semanticcms-all.git
[submodule "semanticcms-news"]
	path = semanticcms-news
	url = git@github.com:aoindustries/semanticcms-news.git
[submodule "semanticcms-google-analytics"]
	path = semanticcms-google-analytics
	url = git@github.com:aoindustries/semanticcms-google-analytics
[submodule "changelog-taglib"]
	path = changelog-taglib
	url = git@github.com:aoindustries/semanticcms-changelog-taglib
